.App {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Masonry Grid Styles */
.masonry-grid {
  display: flex;
  width: 100%;
  margin-left: -1.5rem; /* gutter size offset */
}

.masonry-grid_column {
  padding-left: 1.5rem; /* gutter size */
  background-clip: padding-box;
}
